@import "~typeface-montserrat/index.css";
@import "~typeface-raleway/index.css";
@import "~@mdi/font/css/materialdesignicons.css";
@import "./vendor.scss";

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-file {
  display: inline-flex;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  .toolbar-title {
    font-size: 25px;
    flex: 1 1 auto;
  }
  .toolbar-buttons {
  }
}
