body.night {
  background-color: $grey-darker;
  color: $grey-lighter;

  p,
  ol,
  ul,
  li,
  dl,
  dt,
  dd,
  blockquote,
  figure,
  fieldset,
  legend,
  table,
  pre,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  input,
  select,
  textarea,
  label,
  .navbar,
  .footer,
  .menu {
    background-color: $grey-darker;
    color: $grey-lighter;
    & *,
    > * {
      background-color: $grey-darker;
      color: $grey-lighter;
    }
  }

  hr {
    background-color: #fff;
  }
  a.navbar-item {
    &.is-active {
      border-bottom: 3px solid $grey-lighter;
    }
  }
  .brand {
    color: #fff !important;
  }
}
